@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
html{
    user-select: none;    
}
* {
    transition: 0.2s;
}
img {
    pointer-events: none
}
body {
    background-color: #3A353D;
    margin: 0;
}
/*HEADER*/
a{
    text-decoration:none;
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width:1345px;
    margin: auto;
}
header .beer{
    width: 53px;
    height: 53px;
}
header .logo{
    display: flex;
    align-items: flex-end;
}
header .text{
    text-transform: uppercase;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.5);
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
}
header li{
    margin-left: 20px;
    margin-top: 5px;
}


#container {
    display: flex;
    margin: auto;
    justify-content:center;
    flex-wrap: wrap;
    width: 1350px;
    gap: 94px 73px;
}
#container #card{
    background: #B9A1A1;
    border-radius: 50px;
    width: 401px;
    display: flex;
    flex-direction: column;
    padding-bottom: 52px;
}
#container #card a{
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    padding: 13px 47px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #000000;
}
#container #card p{
    margin: auto;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 18px;
}
#container #card #photo{
    height:283px;
    margin: auto;
    padding-top:43px;
    padding-bottom: 28px;
}
.choose_beer #choose_sort{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 43px;
    color: #FFFFFF;
    width: inherit;
}







#content{
    display: flex;
    padding-top: 93px;
}
#content #ellipse{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0;
    z-index: -1
}
#content #left img{
    height:643px;
}
#content #right {
    padding-left: 16px;
}
#content #right h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 92px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: start;
    color: #FFFFFF;    

}
#content #right p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
#bottom{
    padding-top:115px;
}
#bottom h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}





footer{
    background: #27242A;
    margin-top: 82px;
}
footer .content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 59px;
    padding-bottom: 59px;
    width: 1350px;
}
footer .content p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
