@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body {
    background-color: #3A353D;
    margin: 0;
}

/*HEADER*/
nav {
    color:white;
    position: absolute;
    width: 1345.47px;
    height: 53px;
    left: 130px;
    top: 45px;
}
nav .logo .beer {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 130px;
    top: 0px;
}
nav .logo .text {
    position: absolute;
    text-transform: uppercase;
    width: 135px;
    height: 45px;
    left: 193px;
    top: 0px;

    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;

    color: rgba(255, 255, 255, 0.5);


}
nav ul {
    position: absolute;
    width: 506.47px;
    height: 24px;
    left: 969px;
    top: 0px;
}
nav ul li {
    display: inline;
    margin: 15px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.choose_beer p{
    position: absolute;
    width: 700px;
    height: 84px;
    left: 530px;
    top: 120px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.amber_ale{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 125px;
    top: 369px;

    background: #B9A1A1;
    border-radius: 50px;
}
.brown_ale{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 635.41px;
    top: 369px;
    
    background: #B9A1A1;
    border-radius: 50px;
}
.dark_lager{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 1150.81px;
    top: 369px;

    background: #B9A1A1;
    border-radius: 50px;
}
.amber_ale img{
    position: relative;
    width: 283px;
    height: 283px;
    left: 56px;
    top: 45px;

    background: url(image.png);
    border-radius: 40px;
}
.amber_ale p{
    position: absolute;
    width: 299px;
    height: 36px;
    left: 51px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.amber_ale_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.amber_ale_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.brown_ale img{
    position: absolute;
    width: 283px;
    height: 283px;
    left: 58.59px;
    top: 48px;

    background: url(image.png);
    border-radius: 40px;
}
.brown_ale p{
    position: absolute;
    width: 177px;
    height: 21px;
    left: 111.59px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;

}
.button_brown_ale {
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    text-decoration: none;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;

}
.button_brown_ale a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;

}
.dark_lager{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 1150.81px;
    top: 369px;

    background: #B9A1A1;
    border-radius: 50px;
}
.dark_lager img{
    position: absolute;
    width: 283px;
    height: 283px;
    left: 62.19px;
    top: 45px;
    
    background: url(image.png);
    border-radius: 40px;
}
.dark_lager p{
    position: absolute;
    width: 204px;
    height: 21px;
    left: 98.19px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.dark_lager_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;

}
.dark_lager_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.ipa{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 126px;
    top: 963px;

    background: #B9A1A1;
    border-radius: 50px;
}
.ipa img{
    position: absolute;
    width: 176.31px;
    height: 283px;
    left: 109px;
    top: 45px;

    background: url(image.png);
}
.ipa p{
    position: absolute;
    width: 81px;
    height: 31px;
    left: 160px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.ipa_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.ipa_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.light_lager{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 635.41px;
    top: 963px;

    background: #B9A1A1;
    border-radius: 50px;
}
.light_lager img{
    position: absolute;
    width: 283px;
    height: 272px;
    left: 57px;
    top: 56px;

    background: url(image.png);
    border-radius: 40px;
}
.light_lager p{
    position: absolute;
    width: 140px;
    height: 21px;
    left: 138.59px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.light_lager_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.light_lager_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.porter {
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 1150.81px;
    top: 963px;

    background: #B9A1A1;
    border-radius: 50px;
}
.porter img{
    position: absolute;
    width: 172.37px;
    height: 283px;
    left: 113px;
    top: 56px;
}
.porter p{
    position: absolute;
    width: 140px;
    height: 21px;
    left: 130.59px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.porter_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.porter_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.stout{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 126px;
    top: 1557px;

    background: #B9A1A1;
    border-radius: 50px;
}
.stout img{
    position: absolute;
    width: 283px;
    height: 283px;
    left: 56px;
    top: 45px;

    background: url(image.png);
    border-radius: 40px;
}
.stout p{
    position: absolute;
    width: 141px;
    height: 17px;
    left: 128px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.stout_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.stout_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}
.wheat_beer{
    position: absolute;
    width: 401.19px;
    height: 500px;
    left: 635.41px;
    top: 1557px;

    background: #B9A1A1;
    border-radius: 50px;
}
.wheat_beer img{
    position: absolute;
    width: 283px;
    height: 283px;
    left: 58.59px;
    top: 45px;

    background: url(image.png);
    border-radius: 40px;
}
.wheat_beer p{
    position: absolute;
    width: 121px;
    height: 21px;
    left: 139.5px;
    top: 340px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.wheat_beer_button{
    position: absolute;
    width: 231px;
    height: 52px;
    left: 85px;
    top: 400px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-color: #B9A1A1;
    border: 0px solid #000;
    

    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}
.wheat_beer_button a{
    position: absolute;
    width: 137px;
    height: 26px;
    left: 47px;
    top: 15px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
}


footer{
    position: absolute;
    width: 100%;
    height: 179px;
    left: 0px;
    top: 2712px;
    margin-top: -100px;

    background: #27242A;
}
footer .youtube{
    position: absolute;
    width: 154px;
    height: 41px;
    left: 125px;
    top: 69px;
}

footer p{
    position: absolute;
    width: 417px;
    height: 21px;
    left: 1259px;
    top: 71px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
