@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }
body {
    background-color: #3A353D;
    margin: 0;
}

html{
    user-select: none;
    overflow-x: hidden;
}
img {
    pointer-events: none;
}

/*HEADER*/
a{
    text-decoration:none;
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width:1345px;
    margin: auto;
}
header .beer{
    width: 53px;
    height: 53px;
}
header .logo{
    display: flex;
    align-items: flex-end;
}
header .text{
    text-transform: uppercase;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.5);
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
}
header li{
    margin-left: 20px;
    margin-top: 5px;
}

/*MAIN*/
.part-1{
    width: 100%;
}
.part-1 .ellipse{
    animation: 1s ease 0s 1 slideInFromLeft;
    position: absolute;
    top:0%;
    left: 0;
    z-index: -1;
}
.part-1 .ellipse2{
    animation: 1s ease 0s 1 slideInFromRight;
    position: absolute;
    top:50%;
    right: 0;
    z-index: -1;
}
.part-1 .topnav{
    margin: auto;
    width: 945px;
    padding-top: 243px;
} 
#mealContent {
    display: flex;
    width: 1324px;
    padding-top: 97px;
    margin: auto;;
}
#mealContent #ellipse2{
    animation: 1s ease 0s 1 slideInFromLeft;
    position: absolute;
    top:0%;
    left: 0;
    z-index: -1;
}
#mealContent #left {
    display: flex;
    flex-direction: column;
    width: 575px;
   
}
#mealContent #left h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
#mealContent #left img{
    animation: 1s ease 0s 1 slideInFromBottom;
    padding-top: 40px;
}
#mealContent #right{
    display: flex;
    padding-left: 145px;
}

#mealContent #right ul{
    margin: auto;
}
#mealContent #right li{
    animation: 1s ease 0s 1 slideInFromRight;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(185, 161, 161, 0.7);
    border-radius: 50px;
    margin-bottom: 50px;
}

#mealContent #right #beerText{
    display: flex;
    flex-direction: column;
    width: 420px;
}

#mealContent #right #beerText h2{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
#mealContent #right #beerText p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

}
#mealContent #right #beerText a{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    background: #B9A1A1;
    border-radius: 35px;
    color: #FFFFFF;
    padding: 13px 47px;
    width: 122px;
    margin-bottom:30px;
}
#mealContent #right #beerPhoto{
    display: flex;
    height: 201px;
}
#mealContent #right #beerPhoto img{
    padding-top: 43px;
    padding-bottom: 28px;
    max-height: 100%;
    max-width: 100%;
}
#mealContent #right button {
    all: unset;
    cursor: pointer;
}
#mealContent #right button{
    animation: 1s ease 0s 1 slideInFromRight;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 33px;
    background: rgba(185, 161, 161, 0.7);
    border-radius: 35px;
    margin-top: 62px;
    margin-bottom: 30px;
}



.topnav input[type=text] {
letter-spacing: 0.1em;
background-position: 30px 22px;
background-image: url(../src/пошук.svg);
background-repeat: no-repeat;
text-indent: 78px;
text-transform: uppercase;
padding-top: 25px;
padding-bottom: 25px;
border-radius: 80px;
margin-top: 8px;
font-size: 17px;
border: none;
outline: none;
width: 941px;
font-family: 'Roboto Slab';
}

#result{
letter-spacing: 0.1em;
color: #757575;
margin-top: -31px;
padding-top: 10px;
list-style-type: none;
text-indent: 41px;
background-color: white;
font-family: 'Roboto Slab';
font-size: large;
text-transform: uppercase;
border-radius: 1px 1px 34px 34px;
}
#result li{
border-bottom: 1px solid #B9A1A1;
padding: 20px 0 10px 0px;
margin-right: 41px;
}
#result a{
color: #000000;
}

.topnav .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

.topnav .search-container button:hover {
background: #ccc;
}

.part-2 .ellipse{
    animation: 1s ease 0s 1 slideInFromRight;
    position: absolute;
    right: 0%;
    top: 978px;
    z-index: -1;
}
.part-2 .content{
    animation: 1s ease 0s 1 slideInFromBottom;
}
.part-2 h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 220px;
    color: #FFFFFF;

}

.part-2 .container {
    display: flex;
    width: 1345px;
    margin: auto;
    justify-content: space-between;
    padding-top: 66px;
}
.part-2 .container .card{
    background: #B9A1A1;
    border-radius: 50px;
    width: 401px;
    display: flex;
    flex-direction: column;
}
.part-2 .card p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
.part-2 .container .card img{
    padding-top: 43px;
    padding-bottom: 28px;
    max-height: 100%;
    max-width: 100%;
}
.part-2 .card a{
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    padding: 13px 47px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 52px;
}
.part-2 .container .card .photo{
    width: 300px;
    margin: auto;
}


footer{
    background: #27242A;
    margin-top: 102px;
}
footer .content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 59px;
    padding-bottom: 59px;
    width: 1350px;
}
footer .content p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}