@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

html{
    user-select: none;
    overflow-x: hidden;   
}
header img{
    pointer-events: none;
}

body {
    /* background: url("../src/Splash.png") no-repeat scroll;
    background-size: cover; */
    background-color: #3A353D;
    margin: 0;
}
/*HEADER*/
a{
    text-decoration:none;
    color: #FFFFFF;
}

header{
    
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width:1345px;
    margin: auto;
}
header .beer{
    width: 53px;
    height: 53px;
}
header .logo{
    display: flex;
    align-items: flex-end;
}
header .text{
    text-transform: uppercase;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.5);
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
}
header li{
    margin-left: 20px;
    margin-top: 5px;
}
/*MAIN*/
main{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
    min-height: 1000px;
}
main .beer{
    animation: 1s ease 0s 1 slideInFromLeft;
}
main .steak-up{
    animation: 1s ease 0s 1 slideInFromRight;
}
main .text{
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 50px;
    width: 740px;
    height: 100%;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}
main .text .text1{
    margin-right: 158px;
    padding-top: 158px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    font-size: 110px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 258px;
}
main .text .text2{
    text-align: right;
    margin-left: 158px;
    padding-top: 311px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 382px;


}

main .line{
    padding-top: 93px;
}

main .splash1{
    position: absolute;
    
    top: -67px;
    z-index: -1;
    animation: 1s ease 0s 1 slideInFromLeft;
}
main .splash2{
    position: absolute;
    right:0;
    z-index: -1;
    top: 110px;
    animation: 1s ease 0s 1 slideInFromRight;
}


footer{
    background: #27242A;
    margin-top: 82px;
}
footer .content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 59px;
    padding-bottom: 59px;
    width: 1350px;
}
footer .content p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}